@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

.body {
  height: 100%;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}

.body--pink {
  background-color: #FEAFC3;
}

.body--blue {
  background-color: #69A9FF;
}

.body--yellow {
  background-color: #FCC850;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.button--secondary {
  color: #2D3440;
  background-color: #FCFCFC;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--secondary:not(.disabled):hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC, 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button--secondary:not(.disabled):focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440, 0 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.button--secondary:not(.disabled):active {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440, 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--secondary.disabled {
  font-weight: 400;
  color: #B9B9B9;
  background-color: #E7E7E7;
  cursor: default;
}

.button--primary {
  color: #FCFCFC;
  background-color: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--primary:not(.disabled):hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px #FF2F64;
}

.button--primary:not(.disabled):focus {
  color: #FCFCFC;
  background-color: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440, 0 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.button--primary:not(.disabled):active {
  background-color: #FEAFC3;
  box-shadow: 0 0 0 2px #2D3440, 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button--primary.disabled {
  font-weight: 400;
  color: #565C66;
  background-color: #B9B9B9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
  cursor: default;
}

.button--additional {
  padding: 8px 52.5px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #fcfcfc;
  border-radius: 20px;
}

.button--additional:not(.disabled):hover {
  background-color: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.button--additional:not(.disabled):focus {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #2D3440;
  outline: none;
}

.button--additional:not(.disabled):active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.button--additional.disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  box-shadow: 0 0 0 2px #FCFCFC;
  cursor: default;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.logo__image {
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 1017px;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-menu__link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  line-height: 20px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 30px;
}

.nav-menu__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.nav-menu__link:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.nav-menu__link:active {
  background-color: #FCFCFC;
  box-shadow: none;
}

.nav-menu__link svg {
  margin-left: 6px;
  transform: rotate(270deg);
  fill: #2D3440;
}

.nav-menu__link.active {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.nav-menu__link.active:hover {
  background-color: #FF4A78;
  opacity: 0.6;
}

.nav-menu__link.active:focus {
  background-color: #FF4A78;
  opacity: 1;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.nav-menu__link.active:active {
  background-color: #FF4A78;
  opacity: 0.3;
  box-shadow: none;
}

.nav-menu__link.active svg{
  fill: #FCFCFC;
  transform: rotate(90deg);
}

.nav__contacts {
  font-weight: 700;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.nav-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 267px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-user__link {
  display: flex;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.nav-user__link--search {
  padding: 8px;
}

.nav-user__link svg {
  fill: #2D3440;
}

.nav-user__link:not(.nav-user__link--search) svg {
  margin-right: 6px;
}

.nav-user__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.nav-user__link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.nav-user__link:active {
  background-color: #FCFCFC;
  box-shadow: none;
}

.nav-user__link.active {
  color: #FCFCFC;
  background-color: #FF4A78;
}

.nav-user__link.active:hover {
  background-color: #FF4A78;
  opacity: 0.6;
}

.nav-user__link.active:focus {
  background-color: #FF4A78;
  opacity: 1;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.nav-user__link.active:active {
  background-color: #FF4A78;
  opacity: 0.3;
  box-shadow: none;
}

.nav-user__link.active svg {
  fill: #FCFCFC;
}

.main-index,
.main-inner {
  flex-grow: 1;
}

.main-index section:not(:last-of-type) {
  margin-bottom: 80px;
}

.main-index__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.slider {
  padding-top: 23px;
}

.slider__main {
  display: flex;
}

.slider__content {
  padding: 0 30px 0 70px;
  width: 540px;
  margin: 0;
  list-style-type: none;
}

.slider__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.slider__item:not(.active) {
  display: none;
}

.slider__title {
  margin: 0 0 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider__description {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider__images {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 630px;
}

.slider__image {
  position: relative;
  width: 100px;
  order: 3;
  opacity: 0.4;
}

.slider__image::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100px;
  height: 100px;
  background: rgb(252 252 252 / 40%);
  border-radius: 50%;
}

.slider__image.active {
  width: 348px;
  padding: 0 21px;
  order: 1;
  opacity: 1;
}

.slider__image.active::after {
  width: 312px;
  height: 312px;
}

.slider__image.active + .slider__image {
  order: 2;
}

.slider__image img {
  display: block;
  width: 100%;
  object-fit: contain;
}

.slider__control {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: inline-flex;
  padding: 9px;
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 2px #FCFCFC;
  border-radius: 26px;
  border: none;
  cursor: pointer;
}

.slider__control svg {
  fill: #FCFCFC;
}

.slider__control--next {
  left: 314px;
}

.slider__control--next svg {
  transform: rotate(180deg);
}

.slider__control:not(.disabled):hover {
  background-color: #FCFCFC;
}

.slider__control:not(.disabled):hover svg {
  fill: #2D3440;
}

.slider__control:not(.disabled):focus {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.slider__control:not(.disabled):focus svg {
  fill: #2D3440;
}

.slider__control:not(.disabled):active {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.slider__control.disabled {
  opacity: 0.4;
  cursor: default;
}

.slider__footer {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination__button {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.slider-pagination__button:not(.active):hover {
  box-shadow: inset 0 0 0 1px #FCFCFC;
}

.slider-pagination__button:not(.active):focus {
  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
}

.slider-pagination__button:not(.active):active {
  box-shadow: none;
}

.slider-pagination__button.active {
  background: #FCFCFC;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  display: inline-flex;
}

.socials__item:not(:last-child) {
  margin-right: 16px;
}

.socials__link {
  display: inline-flex;
  min-width: 24px;
  min-height: 24px;
  border-radius: 24px;
  box-shadow: 0 0 0 2px rgb(252 252 252 / 30%);
}

.socials__link svg {
  fill: #FCFCFC;
}

.socials__link:hover {
  background-color: #2D3440;
}

.socials__link:focus {
  background-color: #2D3440;
  box-shadow: 0 0 0 2px #2D3440;
  outline: none;
}

.socials__link:active {
  box-shadow: 0 0 0 2px rgb(252 252 252 / 30%);
  opacity: 0.5;
}

.special-offer__title,
.bestsellers__title,
.about-us__title,
.delivery__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.special-offer__title,
.bestsellers__title,
.about-us__title {
  text-align: center;
  margin: 0 0 56px;
}

.special-offer__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.special-offer__item {
  width: 570px;
  min-height: 268px;
  padding: 36px 206px 36px 36px;
  background-color: #FF7799;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 219px;
  border-radius: 16px;
}

.special-offer__item--raspberry {
  background-image: url(../images/raspberry-gift.png);
}

.special-offer__item--marshmallow {
  background-image: url(../images/marshmallow-gift.png);
}

.special-offer__subtitle {
  margin: 0 0 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.special-offer__description {
  margin: 0 0 28px;
}

.bestsellers__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-card::after {
  content: "";
  position: absolute;
  top: 51px;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.product-card__image {
  display: block;
  margin: 0 auto 16px;
  object-fit: contain;
  border-radius: 50%;
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.product-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0 40px;
}

.product-card__title-link {
  text-decoration: none;
  color: inherit;
}

.product-card__title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card__description {
  margin: 0 0 16px;
  text-align: center;
  color: #565C66;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 40px 24px;
}

.product-card__price {
  font-size: 20px;
  line-height: 24px;
}

.product-card__button {
  display: inline-flex;
  min-width: 32px;
  min-height: 32px;
  padding: 8px;
  background-color: #FF2F64;
  border-radius: 26px;
}

.product-card__button svg {
  fill: #FCFCFC;
}

.product-card__button:not(.disabled):hover {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 2px #FF2F64;
}

.product-card__button:not(.disabled):hover svg{
  fill: #2D3440;
}

.product-card__button:not(.disabled):focus {
  background-color: #FF2F64;
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.product-card__button:not(.disabled):focus svg {
  fill: #FCFCFC;
}

.product-card__button:not(.disabled):active {
  background-color: #FFCBD8;
  box-shadow: inset 0 0 0 2px #FF2F64;
}

.product-card__button:not(.disabled):active svg {
  fill: #2D3440;
}

.product-card__button.disabled {
  background-color: #B9B9B9;
  cursor: default;
}

.product-card__button.disabled svg{
  fill: #565C66;
}

.about-us {
  padding: 24px;
  background-color: #EDE2CD;
  background-image: url(../images/wafer-pattern.jpg);
  border-radius: 16px;
}

.about-us__content {
  padding: 56px 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.about-us__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-us__item {
  width: 505px;
  padding-left: 64px;
  margin-bottom: 40px;
  color: #565C66;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 48px;
}

.about-us__item--ice-cream {
  background-image: url(../images/icons/ice-cream.svg);
}

.about-us__item--naturalness {
  background-image: url(../images/icons/leaf.svg);
}

.about-us__item--farmers {
  background-image: url(../images/icons/cow.svg);
}

.about-us__item--temperature {
  background-image: url(../images/icons/thermometer.svg);
}

.about-us__item:last-child,
.about-us__item:nth-last-child(2) {
  margin-bottom: 0;
}

.serving-article {
  width: 570px;
  min-height: 224px;
  padding: 32px 235px 32px 32px;
  background-color: #ffffff;
  background-image: url(../images/serving-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.serving-article__info {
  display: inline-block;
  margin-bottom: 12px;
  line-height: 20px;
  color: #565C66;
}

.serving-article__link {
  display: inline-block;
  text-decoration: none;
  color: #2D3440;
}

.serving-article__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  width: 570px;
  min-height: 224px;
  padding: 6px;
  background-color: #FF2F64;
  background-image: url(../images/post-pattern.jpg);
  border-radius: 16px;
}

.form--subscribe {
  height: 100%;
  padding: 26px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.form__info {
  color: #565C66;
}

.form--subscribe .form__info {
  margin: 0 0 44px;
}

.form--subscribe .form__field {
  display: inline-block;
  margin: 0 18px 0 0;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 64px 64px 100px;
  background-color: #F4F4F5;
  background-image: url(../images/delivery-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  border-radius: 16px;
}

.delivery__content {
  width: 371px;
}

.delivery__title {
  margin: 0 0 24px;
}

.delivery__description {
  margin: 0;
  color: #565C66;
}

.form--delivery {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 40px 40px 42px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.form--delivery .form__info {
  margin: 0 0 32px;

}
.form__grid {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
  margin-bottom: 32px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form__field--address {
  grid-column: 1 / -1;
}

.form--delivery label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 700;
  line-height: 20px;
}

.tooltip {
  min-width: 18px;
  min-height: 14px;
  padding: 0 0 0 4px;
  background-color: inherit;
  background-image: url(../images/icons/info.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  cursor: pointer;
}

.form--delivery .button {
  align-self: center;
}

.contacts {
  padding: 64px;
  background-color: #EFE4E2;
  background-image: url(../images/contacts-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
}

.contacts__content {
  width: 343px;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts__address {
  margin-bottom: 32px;
}

.contacts__text {
  margin: 0 0 24px;
  font-style: normal;
  color: #565C66;
}

.contacts__link {
  display: block;
  margin-top: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
}

.contacts__schedule {
  font-size: 14px;
  line-height: 20px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 48px 0;
}

.page-footer__socials {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 8px;
  width: 207px;
  padding: 0 4px;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 356px;
  list-style-type: none;
}

.page-footer__item {
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  padding-left: 24px;
  margin-bottom: 8px;
}

.page-footer__item--provider {
  background-image: url(../images/icons/heart.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: left center;
}

.page-footer__link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.author {
  width: 207px;
}

.author__logo img {
  display: block;
}

.author__copyright{
  margin: 14px 0 0;
  font-size: 12px;
  line-height: 16px;
}

.author__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

.main-inner {
  padding: 16px 0 40px 0;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.inner-header__title {
  margin: 0 0 40px;
  font-weight: 900;
  line-height: 46px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item:last-child {
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  width: 28px;
  height: 12px;
  background-image: url(../images/icons/chevrons.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 20px;
}

.catalog-products__catalog-filter {
  margin-bottom: 28px;
}

.catalog-filter__group {
  margin: 0 24px 0 0;
  padding: 0;
  border: none;
}

.catalog-filter__group:last-of-type {
  margin-right: 16px;
}

.catalog-filter__list {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  list-style-type: none;
}

.catalog-products__list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin: 0;
  padding: 16px 0;
  list-style-type: none;
}

.catalog-products__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 41px 0;
}

.catalog-pagination {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  width: 503px;
  margin: 0;
  padding: 0 0 0 50px;
  list-style-type: none;
}

.catalog-pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  padding: 2px 7px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border-radius: 50px;
}

.catalog-pagination__link:not(.active):hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.catalog-pagination__link:not(.active):focus {
  background-color: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px #2D3440;
  outline: none;
}

.catalog-pagination__link:not(.active):active {
  box-shadow: inset 0 0 0 1px #FCFCFC;
  opacity: 0.5;
}

.catalog-pagination__link.active {
  background-color: #FCFCFC;
}

.catalog-pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
}

.catalog-pagination__arrow--prev {
  padding: 4px 8px 4px 0;
}

.catalog-pagination__arrow--next {
  padding: 4px 0 4px 8px;
}

.catalog-pagination__arrow--next svg,
.catalog-pagination__arrow--prev svg {
  fill: #2D3440;
}

.catalog-pagination__arrow.disabled {
  opacity: 0.3;
}
